.invalid{
	background-color: #f2dede;
    border-color: #ebccd1;
}

.real-money-pixel{
    position: absolute;
    z-index: 10;
    margin-top: 35px;
    left: 33px;
}

.money-mask{
    padding-left: 32px;
}