.invalid{
	background-color: #f2dede;
    border-color: #ebccd1;
}

.real-money-pixel{
    position: absolute;
    z-index: 10;
    margin-top: 34px;
    left: 33px;
}

.money-mask{
    padding-left: 32px;
}

/*table.dataTable thead th, table.dataTable thead td {*/
    /*border-bottom: 1px solid #d5d8da;*/
/*}*/

/*table.dataTable.no-footer {*/
    /*border-bottom: 1px solid #d5d8da;*/
/*}*/